.all-assignments-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.assignment-card {
  width: 30%;
  margin: 2rem;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}

.assignment-card h2 {
  font-size: 1.5rem;
}

.assignment-card p {
  margin-top: 1rem;
  font-size: 1.2rem;
}

.assignment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignment-actions {
  display: flex;
}

.edit-button,
.delete-button {
  background: none;
  border: none;
  color: #333;
  font-size: 1.2rem;
  margin-left: 1rem;
  cursor: pointer;
}

.delete-button:hover {
  color: red;
}

.edit-button:hover {
  color: blue;
}

