.container {
  max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}
.teachers_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.teacher_card {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
  border: 1px solid #ccc;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3);
  transition: all 0.3s ease-in-out;
}
.teacher_card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}
.teacher_card img {
  width: 100%;
  height: auto;
}

.teacher_info {
  padding: 20px;
}

.teacher_info h3 {
  margin-top: 0;
}

.teacher_info p {
  margin: 0;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.5;
}

.teacher_info strong {
  font-weight: bold;
}

.FLX {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  padding: 8px 16px;
  background-color: #FFCF59;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  background-color: #525FE1;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

