.Course {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.Course .label {
  display: block;
  margin-bottom: 10px;
}
.module{
  display: flex;
  flex-direction: row;
}
.Course .form {
  width: 100%;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ccc;
  font-size: 16px;
}

.Course textarea.form {
  height: 100px;
}

.Course.module {
  margin-top: 20px;
}

.Course.module input {
  display: block;
  margin-bottom: 10px;
  max-width: 90%;
}

 .Course .module textarea {
  height: 100px;
}

 .Course hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 20px 0;
}
.form_button{
  display: flex;
  flex-direction: row;
}
.Course button {
  background-color: #4d82be;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}

.Course button:hover {
  background-color: #3e8e41;
}

 .Course .form_button {
  margin-top: 20px;
}

.Course .form_button button {
  margin-right: 20px;
}
