.quiz_preparation {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
}

.quiz_preparation .form {
  width: 400px;
  background-color: #fff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.quiz_preparation .form__group {
  margin-bottom: 20px;
}

.quiz_preparation .form__label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.quiz_preparation .form__input,
.quiz_preparation .form__textarea {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  background-color: #f5f5f5;
  transition: background-color 0.2s ease;
}

.quiz_preparation .form__input:focus,
.quiz_preparation .form__textarea:focus {
  background-color: #fff;
}

.quiz_preparation .button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  border: none;
  border-radius: 5px;
  background-color: #0077ff;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
