.teachers {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.teacher-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  padding: 2rem;
}

.teacher-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.teacher-card:hover {
  transform: translateY(-10px);
}

.teacher-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.teacher-info {
  padding: 2rem;
  text-align: center;
}

.teacher-name {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.teacher-course {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1.2rem;
}

.teacher-address,
.teacher-email,
.teacher-experience,
.teacher-style {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

